html {
	font-size: 62.5%;
}

body {
	font-size: 1.4rem;
	padding: 10px 30px 20px 38px;
}

.container {
	padding: 0 10px 0 25px;
	position: relative;
}

.user-controls {
	float: right;
	padding-top: 10px;
}

#login-dropdown-list {
	left: auto;
	right: -1px;
}

#login-buttons a.login-link-text {
	text-decoration: none;
    font-weight: 400;
    font-size: 1.6rem;
}

.leaderBoard-title {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);

	-webkit-transform-origin: left top;
	-moz-transform-origin: left top;
	-ms-transform-origin: left top;
	-o-transform-origin: left top;
	transform-origin: left top;

	font-size: 4.5rem;
	left: 0;
	margin: 0;
	position: absolute;
	text-transform: uppercase;
	top: 0;
	white-space: nowrap;
}

.leaderBoard-title-car {
	font-weight: 600
}

.leaderBoard-title-divider {
	color: rgba(0, 0, 0, 0.15);
	letter-spacing: -4px;
	font-weight: 100;
}

.leaderBoard-title-track {
	font-weight: 300;
}

.leaderBoard-times {
	counter-reset: times-counter;
	margin-top: 20px;
}

.leaderBoard-times dt {
	font-size: 2.8rem;
}

.leaderBoard-times dt:first-child {
	font-size: 3.8rem;
	font-weight: 500;
}

.leaderBoard-times dt:before {
	content: counter(times-counter, decimal-leading-zero);
	counter-increment: times-counter;
	color: orange;
	text-align: left;
    width: 40px;
    display: inline-block;
	margin-right: 15px;
}