html {
	font-size: 62.5%;
}

body {
	font-size: 1.4rem;
	padding: 0;
}

.header {
	padding: 0 20px 0 0;
	position: relative;
}

.container {
	margin-left: 38px;
	padding: 0 10px 0 25px;
	position: relative;
}

.user-controls {
	float: right;
	padding-top: 10px;
}

.add-time {
	margin-left: 63px;
	max-width: 500px;
	min-width: 380px;
	padding-left: 65px;
}

.add-time input.mui-form-control {
    display: inline-block;
    vertical-align: middle;
    width: auto;
}
.add-time button.mui-btn {
	margin: 6px 0;
	vertical-align: middle;
}

#login-dropdown-list {
	left: auto;
	right: -1px;
}

#login-buttons a.login-link-text {
	text-decoration: none;
    font-weight: 400;
    font-size: 1.6rem;
}

.leaderBoard-selector.mui-dropdown {
	left: 0;
	position: fixed;
	top: 0;
	z-index: 100;
}

.leaderBoard-selector .mui-btn,
.leaderBoard-selector .mui-btn:hover {
	padding: 0;
    background-color: orange;
    border-radius: 0;
	box-shadow: none;
    color: white;
    font-size: 2rem;
    margin: 0;
    width: 36px;
}
.leaderBoard-selector .mui-dropdown-menu {
	border-radius: 0;
}

.leaderBoard-title {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);

	-webkit-transform-origin: left top;
	-moz-transform-origin: left top;
	-ms-transform-origin: left top;
	-o-transform-origin: left top;
	transform-origin: left top;

	font-size: 4.5rem;
	left: 0;
	margin: 0;
	position: absolute;
	text-transform: uppercase;
	top: 0;
	white-space: nowrap;
}

.leaderBoard-title-car {
	font-weight: 600
}

.leaderBoard-title-divider {
	color: rgba(0, 0, 0, 0.15);
	letter-spacing: -4px;
	font-weight: 100;
}

.leaderBoard-title-track {
	font-weight: 300;
}

.leaderBoard {
	counter-reset: times-counter;
	margin-top: 0px;
	max-width: 500px;
    min-width: 380px;
}

.leaderBoard dt {
	font-size: 2.8rem;
	position: relative;
	height: 38px;
}

.leaderBoard dt:first-child {
	font-size: 3.8rem;
	font-weight: 500;
	height: 50px;
}

.leaderBoard dt:before {
	color: gray;
	content: counter(times-counter, decimal-leading-zero);
	counter-increment: times-counter;
	font-weight: 100;
	margin-right: 15px;
	text-align: right;
    display: inline-block;
    width: 40px;
}

.leaderBoard-driver,
.leaderBoard-time {
	display: inline-block;
}

.leaderBoard-driver {
	font-weight: 600;
	padding-right: 80px;
}

.leaderBoard-time {
	color: gray;
	font-size: 2.4rem;
	font-weight: 200;
	position: absolute;
	bottom: 0;
	right: 0;
}

@media all and (max-width: 768px) {
	.header {
		padding: 0;
	}
	.add-time {
		padding-left: 0;
	}
	.add-time input.mui-form-control {
	    width: 90px;
	}
}
